/*===================== 
===== Basic Setup =====
=======================*/

body{
    font-family: 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style-type: none;
}

/* Heading */
h1{
    font-size: 42px;
    color: #fff;

}

/*============================
===== Reusable component =====
==============================*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

/* Button  */
.btn:link,
.btn:visited,
.btn{
    background: #333;
    border-bottom: 3px solid #000;;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 60px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 45px;
}


/*============================
===== Header Section =====
==============================*/

header{
    background: linear-gradient( rgba(135, 80, 156, 0.9), rgba(135, 80, 156, 0.9)), url("/resources/css/img/hero-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
    position: relative;
}

.logo{
    height: 35px;
    width: auto;
    margin-top: 35px;
    float: left;
}

/* main navigation */

.main-nav{
    float: right;
    margin-top: 40px;
}

.main-nav li{
    display: inline-block;
    margin-left: 10px;
}
.main-nav li:first-child{
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: hsla(280, 35%, 35%, 0);
    padding: 6px 15px;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    transition: .3s ;
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    
    background: hsla(280, 35%, 35%, 1);
   
}

.active{
    background: hsla(280, 35%, 35%, 1);
    border-radius: 3px;   
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 1140px;
}

.btn-hero:link,
.btn-hero:visited{
    background: #eb7d4b;
    border-color: #c86a40;
}